<!DOCTYPE html>
<html>
  <head>
    <title>TumblrApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/css?family=Tangerine" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='sidebar'>
      <%= render 'layouts/nav'%>
    </div>
    <div id='main_content'>
      <div id='header'>
        <p>Post Feed</p>
        <div class='buttons'>
          <button class='button'><%= link_to 'Add Post', new_post_path %></button>
          <button class='button'>Log out</button>
        </div>
      </div>
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "flash #{key}" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
