<!DOCTYPE html>
<html>
  <head>
    <title>TumblrApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/css?family=Tangerine" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='sidebar'>
      <%= render 'layouts/nav'%>
    </div>
    <div id='main_content'>
      <div id='header'>
        <% if current_page?(root_path) %>
          <p>Post Feed</p>
        <% elsif current_page?(about_path) %>
          <p>My site</p>
        <% else %>
          <%= link_to 'Back to Feed Page', root_path%>
        <% end %>
        <% if user_signed_in? %>
          <div class='buttons'>
            <button class='button'><%= link_to 'Add Post', new_post_path %></button>
            <button class='button'><%= link_to 'Log out', destroy_user_session_path, method: :delete %></button>
          </div>
        <% end %>
      </div>
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "flash #{key}" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
